pytest
pytest-html
black[jupyter]
isort
ruff
mypy
pydocstyle
sphinx
nbsphinx
myst-parser
furo
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-autoapi
pandoc
jupyter
visidata
jupytext
types-requests
pandas-stubs